@import url("carousel.css");
@import url("about.css");
@import url("responsive.css");
@import url("why-choose.css");
@import url("programmes.css");
@import url("facilities.css");
@import url("gallery.css");
@import url("training.css");
@import url("faq.css");
@import url("contact.css");
@import url("map.css");
@import url("footer.css");
@import url("about.css");


/*=============================================
            GLOBAL
=============================================*/

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Poppins',sans-serif;

background:#ffffff;

overflow-x:hidden;

}

a{

text-decoration:none;

}

/*=============================================
            HEADER
=============================================*/

.top-header{

padding:35px 0 20px;

}

.academy-title{

font-size:52px;

font-weight:800;

text-align:center;

text-transform:uppercase;

letter-spacing:2px;

color:#173F35;

}

/*=============================================
        RIGHT SIDE
=============================================*/

.header-right{

display:flex;

flex-direction:column;

align-items:flex-end;

}

.social-icons{

display:flex;

gap:15px;

}

.social-icons a{

width:45px;

height:45px;

background:#173F35;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

color:#fff;

transition:.4s;

}

.social-icons a:hover{

background:#B68D40;

transform:translateY(-4px);

}

.contact-btn{

margin-top:20px;

padding:11px 30px;

background:#B68D40;

color:#fff;

font-weight:600;

border-radius:30px;

transition:.4s;

}

.contact-btn:hover{

background:#173F35;

color:#fff;

}

/* .header-gap{

height:25px;

} */

/*=============================================
            NAVBAR
=============================================*/

.academy-navbar{

/* background:#173F35; */
background:#256354;
/* background:#49b499; */

padding:12px 0;

}

.navbar-nav{

gap:15px;

}

.nav-link{

font-size:17px;

font-weight:500;

color:#fff!important;

transition:.3s;

}

.nav-link:hover{

color:#FFD95A!important;

}

/*=============================================
            HERO
=============================================*/

.hero-section{

height:450px;

display:flex;

align-items:center;

justify-content:center;

background:#f5f5f5;

}

.hero-section h2{

font-size:40px;

font-weight:700;

color:#173F35;

}